.close-filter {
    display: none;
}

.active-filter {
    color: #14d014;
}

.menu-item-message div.content {
    font-size: 15px;
}

.ui.message.menu-item-message {
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 65px;
    left: 10px;
}

.ui.menu .item.menu-item {
    padding: 1.5em;
}

.ui.vertical.menu {
    width: 25rem;
}

.filter-title {
    font-size: 15px;
}
